extends main

block content
    title Mod Bot - Error
    div(class="container container-reactive")
        div(class="center alert alert-dark")
            div(class="row")
                div(class="col")
                    h1(style="text-align: center;") ERROR!!
                        img(class="mx-d" src="../static/ErrorIcon.png" float="start" style="width: 100px; height: 100px;")


                    div(class="container-fluid")        
                        h2(style="text-align: center;") #{status} #{message}

